<!-------
<div class="container">
  <h1 class="text-center">Daily Space News</h1>
  <div style="height: 50px;"></div>
  <div *ngFor="let n of news.docs">
    <div class="row">
      <div class="col-sm">
        <h3 class="text-center">{{n.title}}</h3>
        <img style="max-height: 400px;" class="img-fluid img-thumbnail rounded mx-auto d-block"
          src="{{n.featured_image}}" />
      </div>
    </div>
    <hr>
  </div>
</div>
---->

<div class="container">
  <div style="height: 50px;"></div>
  <h1 class="text-center">Daily Space News 🚀</h1>
  <div class="row d-flex justify-content-center">
    <div *ngFor="let n of news.docs">
      <div style="height: 100px;"></div>
      <div class="col-md">
        <div class="card" style="width: 27rem;">
          <img class="card-img-top" src="{{n.featured_image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{n.title}}</h5>
            <a target="_blank" href="{{n.url}}" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>