<div class="container">
  <div style="height: 50px;"></div>
  <h1 class="text-center">Daily Space News 🚀</h1>
  <div class="row d-flex justify-content-center">
    <div *ngFor="let n of news.docs">
      <div style="height: 100px;"></div>
      <div class="col-md">
        <div class="card" style="width: 27rem;">
          <img class="card-img-top" src="{{n.featured_image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{n.title}}</h5>
            <a target="_blank" href="{{n.url}}" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 50px;"></div>
  <nav class="d-flex justify-content-center" aria-label="">
    <ul class="pagination">
      <li class="page-item"><button class="page-link" (click)="previousPage()">Previous</button></li>
      <li class="page-item"><a class="page-link">Page: {{page}}</a></li>
      <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
    </ul>
  </nav>
</div>